
.input-display-container {
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    font-size: xx-large;
font-family: 'Rubik', sans-serif;}
.tangent-calc {
    display: flex;
    flex-direction: column;
}
.addition-calc{
    display:flex;
    flex-direction: column;
}
